:root {
    --accent-color: #0A7CBA;
    --form-background: #F8F9FA;
    --grey-accent: #D9D9D9;
    --grey-accent-medium: #4A4A4A;
    --light-green-accent: #CAEACF;
    --green-accent: #469452;
    --light-blue-accent: #C7EBFF;
    --medium-blue-accent: #68B4D7;
}